html {
  font-family: "Montserrat", sans-serif;
  margin-left: auto;
  margin-right: auto;
}

header {
  color: white;
  word-break: break-all;
}

footer {
  color: white;
  text-align: center; 
  left: 0;
  bottom: 5px;
  font-size: small;
  position: static;

}

body {
  background-color: #d8bcb6;
  word-break: normal;
  color: #403039;
}

.container {
  background-color: #f5dcd680;
  padding: 30px; /* отступы внутренние */
  margin: 10px; /* отступы внешние */
  color: #403039;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.button-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  margin: 10px; /* отступы внешние */
  color: #403039;
  margin-left: auto;
  margin-right: auto;
}

.nav_button {
  width: 100%;
}

button {
  background-color: #d6bbb6;
  width: 50%;
  padding: 10px; /* отступы внутренние */
  text-align: center;
  cursor: pointer;
  border: none;
  opacity: 1; /* прозрачность начальная */
  transition: 0.3s; /* анимация при изменении состояния кнопочьки */
  font-size: medium;
  color: #403039;
}

button:hover {
  opacity: 0.6; /* прозрачность после приближ курсора */
}
/* это чтобы анимация */

.text-field {
  margin-bottom: 1rem;
  display: block;
}

.text-field__input:focus {
  border-color: #d6bbb6;
  outline: 0;
  box-shadow: 0 0 0 2px #d6bbb6;
}

.text-field__input {
  background-color: #d6bbb6;
  background-clip: padding-box;
  border: 1px solid #d6bbb6;
  transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  width: 30%;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
}

.text-field__input::placeholder {
  width: 100%;
}

.game_description {
  display: block;
}

.catbreeds_input {
  display: block;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 20px;
  background-color: #d6bbb6;
  background-clip: padding-box;
  border: 1px solid #d6bbb6;
  transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  width: 30%;
}

.catbreeds_input:focus {
  border-color: #d6bbb6;
  outline: 0;
  box-shadow: 0 0 0 5px #d6bbb6;
}

.cat-container { 
  display: flex; 
}

.cat-card {  
  padding: 10px; 
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  background-color: #d6bbb6;
  width: 200px; 
  text-align: center; 
}

.cat-card img { 
  width: 100%; 
  border-radius: 5px; 
}

.cat-profile img { 
  width: 60%; 
}

.cat-profile_container_center {
  text-align: center;
}

.ALL_elements_cat-profile {
  display: grid;
  grid-template-columns: auto auto auto;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.chat-box {
  padding: 10px; 
  background-color: #d6bbb6;
  width: 90%; 
}

.chat-box div {
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-bottom: 1px solid white;
}

.chat_input {
  width: 90%; 
}

.chat {
  margin-left: auto;
  margin-right: auto;
}

.addcat_button {
  width: 100%; 
}